@model AutoOffice.Models.HumanResourceManageModel
@{
    ViewData["Title"] = "Human Resource Manage";
}

<h2>@ViewData["Title"]</h2>
<br/>
<div>
    <table>
        <tr>
            <th>
                Email
            </th>
            <th>
                Name
            </th>
            <th>
                Department
            </th>
            <th>
                Job
            </th>
        </tr>
        @foreach (var item in Model.HumanManages)
        {
            if (item.Email == "root@root.com")
            {
                continue;
            }
            <tr>
                <form id="form" asp-action="HumanResourceManageSet" method="post">
                    <td>
                        <label for="form">@item.Email</label>
                    </td>
                    <input name="email" value="@item.Email" hidden />
                    <td>
                        <input id="name" name="name" value="@item.Name" />
                    </td>
                    <td>
                        <input id="department" name="department" value="@item.Department" />
                    </td>
                    <td>
                        <input id="job" name="job" value="@item.Job" />
                    </td>
                    <td>
                        <input type="submit" />
                    </td>
                </form>
            </tr>
        }
    </table>
</div>